@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-width: 320px;
  font-family: 'Open Sans', sans-serif;
}

.container {
  max-width: 940px;
  margin: 10px auto;
  padding: 0 10px;
  text-align: center;
}

hr {
  margin-bottom: 15px;
  border: none;
  height: 1px;
  background-color: #333333;
}

h1 {     
  text-align: center;
  color: white;
  background-color: #1a75c5;
  padding: 7px;
  font-family: 'Great Vibes', cursive;
}

h2 {
  padding: 15px;
  color: #333333;
}

.chatrooms {
  margin-bottom: 15px;
}

.buttons {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 5px;
}

button {
  border: none;
  font-size: 1.2rem;
  font-family: inherit;
  padding: 10px;
  color: white;
  background-color: #71a4d4;
  cursor: pointer;
  font-weight: 700;
}

/* Conversations */
.conversations__descriptions {
  padding: 15px;
  text-align: left;
  margin-bottom: 5px;
  background-color: #ddd;
}

.conversations__descriptions:last-child {
  margin-bottom: 15px;
}

.conversations__descriptions div {
  font-size: 1rem;
}

.conversations__descriptions div:nth-child(3) {
  font-size: 0.8rem;
  color: #8f8f8f;
}

/* Form */
form {
  width: 100%;
}

.messages__form {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

input {
  width: 100%;
  padding: 10px;
  font-family: inherit;
  font-size: 1rem;
}

input:focus {
  outline: 0;
}

.upd__name {
  text-align: left;
}

.upd__name p {
  margin-bottom: 5px;
}
